/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");


/* VARIABLES */
:root {
  --dark-brown: #7F381A;
  --light-brown: #A64922;
  --dark-green: #799027;
  --light-green: #A1BD43;
  --yellow: #F6C13C;
  --yellow-opacity-20: #f6c13c20;
  --champagne: #F5E4CC;
  --lightest: #F8EDDD;
  --red: #d30404;
}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* GLOBAL STYLING */
html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--lightest);
  background-image: url(./images/texture.png);
  background-repeat: repeat;
  background-size: auto;
}


/* BASE STYLING */
.color-brown { color: var(--dark-brown) }
.color-yellow { color: var(--yellow) }
.color-lightest { color: var(--lightest) }
.color-champagne { color: var(--champagne) }
.color-dark-green { color: var(--dark-green) }
.bg-color-green { background-color: var(--dark-green) }
.bg-color-light { background-color: var(--lightest) }
.bg-color-yellow { background-color: var(--yellow) }
.bg-color-yellow-20 { background-color: var(--yellow-opacity-20) }
.bg-color-dark-brown { background-color: var(--dark-brown) }
.bg-color-light-brown { background-color: var(--light-brown) }

.hidden { display: none }

.align-right { text-align: right }

.weight-500 { font-weight: 500 }
.weight-600 { font-weight: 600 }

.main-container-base {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header-base {
  width: 100vw;
  height: 5.1rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 0.5rem 2.5rem;
}

.header-title-base {
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 700;
  font-size: 2.1rem;
}

.logo-horizontal {
  width: 7.5rem;
  position: relative;
  top: 0.3rem;
}

.header-role-base {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.header-name-base {
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
}

.tag-link {
  display: inline-block;
  position: relative;
  top: 0;
  transition: ease 0.1s;
  text-decoration: none;
  font-weight: 500;
}

.button-base {
  position: relative;
  top: 0;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: ease 0.1s;
}

.button-logout-base {
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.button-centered {
  display: block;
  margin: 0 auto;
}

.mg-top-2 {
  margin-top: 2rem;
}

.tag-link:hover,
.button-base:hover {
  top: -0.3rem;
}


/* LOGIN PAGE */
.main-container-login {
  padding-bottom: 2rem;
}

.logo-login {
  width: 14rem;
}

.form-container {
  background-color: var(--yellow-opacity-20);
  border-radius: 1.5rem;
  padding: 2.5rem 4rem;
}

.label-input-wrap,
.radio-buttons-wrap {
  margin-bottom: 2rem;
}

.label-for-input {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--dark-green);
}

.input-text {
  width: 23rem;
  background-color: var(--lightest);
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  border: solid 3px var(--dark-green);
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
}

/* SIGNUP PAGE */
.main-container-signup {
  padding-top: 5.1rem;
  padding-bottom: 2rem;
}

.radio-buttons-wrap {
  width: 23rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.input-radio {
  opacity: 0;
  position: fixed;
  width: 0;
}

.input-radio:checked + label {
  background-color: var(--yellow);
  color: var(--light-brown);
}

.msg-different-passwords {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  color: var(--red);
}


/* HALL PAGE */
.main-container-hall {
  padding-top: 5.1rem;
}


/* MENU PAGE */
/* GRID */
.menu-grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5.1rem 1fr 1fr 1fr;
  gap: 2%;
  grid-template-areas:
    'header   header'
    'burgers  orders'
    'sides    orders'
    'drinks   orders';
  padding-bottom: 2%;
}

.menu-grid-child{
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.header-base {
  grid-area: header;
}

.main-menu-burgers {
  grid-area: burgers;
  border-radius: 0 1.5rem 1.5rem 0;
}

.main-menu-sides {
  grid-area: sides;
  border-radius: 0 1.5rem 1.5rem 0;
}

.main-menu-drinks {
  grid-area: drinks;
  border-radius: 0 1.5rem 1.5rem 0;
}

.main-menu-orders {
  grid-area: orders;
  border-radius: 1.5rem 0 0 1.5rem;
}


/* KITCHEN PAGE */


/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 0.6rem 0;
}

.footer-text {
  text-align: center;
  font-size: 0.7rem;
}
