/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');


/* VARIABLES */
:root {
  --dark-brown: #7F381A;
  --light-brown: #A64922;
  --dark-green: #799027;
  --light-green: #A1BD43;
  --yellow: #F6C13C;
  --yellow-opacity-20: #f6c13c20;
  --light-yellow: #F8E7C9;
  --champagne: #F5E4CC;
  --lightest: #F8EDDD;
  --red: #d30404;
  --black: rgba(0, 0, 0, 0.801);
  --pending: #9c2121;
  --done: #65B8E2;
}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* GLOBAL STYLING */
html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--lightest);
  background-image: url(./images/texture.png);
  background-repeat: repeat;
  background-size: auto;
}

a {
  text-decoration: none;
}

/* BASE STYLING */
.color-brown { color: var(--dark-brown) }
.color-yellow { color: var(--yellow) }
.color-lightest { color: var(--lightest) }
.color-champagne { color: var(--champagne) }
.color-dark-green { color: var(--dark-green) }
.color-done { color: #1281B8 }
.bg-color-green { background-color: var(--dark-green) }
.bg-color-light { background-color: var(--lightest) }
.bg-color-yellow { background-color: var(--yellow) }
.bg-color-light-yellow { background-color: var(--light-yellow); }
.bg-color-yellow-20 { background-color: var(--yellow-opacity-20) }
.bg-color-dark-brown { background-color: var(--dark-brown) }
.bg-color-light-brown { background-color: var(--light-brown) }
.bg-color-pending { background-color: var(--pending) }
.bg-color-done { background-color: var(--done) }

.hidden { display: none }

.align-right { text-align: right }

.weight-500 { font-weight: 500 }
.weight-600 { font-weight: 600 }

.main-container-base {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header-base {
  width: 100vw;
  height: 5.1rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 0.5rem 2.5rem;
}

.header-title-base {
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 700;
  font-size: 2.1rem;
}

.logo-horizontal {
  width: 7.5rem;
  position: relative;
  top: 0.3rem;
}

.logo-modal {
  width: 12rem;
  height: auto;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -2.5rem;
}

.header-role-base {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.header-name-base {
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
}

.form-container-base {
  background-color: var(--yellow-opacity-20);
  border-radius: 1.5rem;

}

.label-input-wrap,
.radio-buttons-wrap {
  margin-bottom: 2rem;
}

.label-for-input {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--dark-green);
}

.input-radio {
  opacity: 0;
  position: fixed;
  width: 0;
}

.input-text {
  width: 23rem;
  background-color: var(--lightest);
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  border: solid 3px var(--dark-green);
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
}

.tag-link {
  display: inline-block;
  position: relative;
  top: 0;
  transition: ease 0.1s;
  text-decoration: none;
  font-weight: 500;
}

.button-base {
  position: relative;
  top: 0;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: ease 0.1s;
}

.button-logout-base {
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.button-medium {
  padding: 0.5rem 1.3rem;
  font-size: 0.9rem;
}

.button-centered {
  display: block;
  margin: 0 auto;
}

.mg-top-2 {
  margin-top: 2rem;
}

.tag-link:hover,
.button-base:hover {
  top: -0.3rem;
}

.capitalize {
  text-transform: capitalize;
}


/* LOGIN PAGE */
.logo-login {
  width: 14rem;
}

.form-container-signup-login {
  padding: 2.5rem 4rem;
}


/* SIGNUP PAGE */
.radio-buttons-wrap {
  width: 23rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.input-role:checked + .label-role {
  background-color: var(--light-brown);
  color: var(--yellow);
}

.msg-different-passwords {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  color: var(--red);
}


/* MODAL */
.modal-overlay {
  display: flex;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-open {
  display: flex;
  width: 70%;
  position: relative;
  height: 55%;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.3rem;
  overflow: hidden;
  background-color: var(--lightest);
  background-image: url(./images/texture.png);
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-green);
  padding: 10px 20px;
}

.modal-body {
  text-align: center;
}

.modal-footer {
  align-items: center;
  justify-content: center;
  position: relative;
  top: 3rem;
}


/* HALL PAGE */
.orders-options-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-hall-options + .label-hall-options {
  background-color: var(--yellow);
  color: var(--dark-brown);
}

.input-hall-options:checked + .label-hall-options {
  background-color: var(--dark-green);
  color: var(--lightest);
}

.tables-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 75vh;
}

.info-message {
  width: 20rem;
  font-size: 1.5rem;
  text-align: center;
}

.tables-grid-container {
  height: 45vh;
  width: 75vw;
  display: grid;
  grid-template-columns: 6fr 4fr 3fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8% 0;
  grid-template-areas:
    'table-01    .    table-04      table-04'
    'table-02    .    table-05      table-05'
    'table-03    .    tables-06-07  tables-06-07';
}

.table-01 {
  grid-area: table-01;
  text-align: right;
  border-radius: 0.7rem;
  padding: 0 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-02 {
  grid-area: table-02;
  text-align: right;
  border-radius: 0.7rem;
  padding: 0 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-03 {
  grid-area: table-03;
  text-align: right;
  border-radius: 0.7rem;
  padding: 0 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-04 {
  grid-area: table-04;
  border-radius: 0.7rem;
  padding: 0 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-05 {
  grid-area: table-05;
  border-radius: 0.7rem;
  padding: 0 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smaller-tables-wrap {
  grid-area: tables-06-07;
  display: flex;
  justify-content: space-between;
}

.table-06, .table-07 {
  border-radius: 0.7rem;
  padding: 0.7rem 1.3rem;
  text-align: center;
}

.table-number {
  font-size: 2.7rem;
}

.input-table:checked + .table-number {
  background-color: var(--yellow);
  color: var(--dark-brown);
}

.form-container-hall {
  padding: 1.5rem 3rem;
}

.hall-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-input-wrap {
  margin-right: 4rem;
}

.input-client {
  width: 17rem;
}

.menu-buttons-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-to-menu {
  width: 15rem;
  margin: 0.5rem 0;
}

.hall-orders-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 80%;
  width: 100%;
}


/*----------- MENU PAGE -----------*/
/* GRID MAIN MENU*/
.menu-grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 5.1rem 4fr 2fr 3fr;
  gap: 2%;
  grid-template-areas:
    'header   header'
    'burgers  orders'
    'sides    orders'
    'drinks   orders';
  padding-bottom: 2%;
}

.menu-grid-child{
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.header-base {
  grid-area: header;
}

.main-menu-burgers {
  grid-area: burgers;
  border-radius: 0 1.5rem 1.5rem 0;
}

.main-menu-sides {
  grid-area: sides;
  border-radius: 0 1.5rem 1.5rem 0;
}

.main-menu-drinks {
  grid-area: drinks;
  border-radius: 0 1.5rem 1.5rem 0;
}


/* GRID BREAKFAST MENU*/
.breakfast-grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 5.1rem 1fr 1fr 1fr;
  gap: 2%;
  grid-template-areas:
    'header        header'
    'coffees       orders'
    'sandwiches    orders'
    'icedrinks     orders';
  padding-bottom: 2%;
}

.main-menu-coffees {
  grid-area: coffees;
  border-radius: 0 1.5rem 1.5rem 0;
}

.main-menu-sandwiches {
  grid-area: sandwiches;
  border-radius: 0 1.5rem 1.5rem 0;
}

.main-menu-icedrinks {
  grid-area: icedrinks;
  border-radius: 0 1.5rem 1.5rem 0;
}


/* MENU ITEM BOX */
.menu-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-section-title {
  margin-bottom: 1rem;
  color: var(--dark-brown);
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.menu-item-wrap {
  display: flex;
  flex-direction: column;
}

.label-item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-image {
  width: 8rem;
  height: 8rem;
  border: 0.3rem solid var(--dark-brown);
  border-radius: 0.6rem;
}

.menu-item-name {
  border-radius: 0.3rem;
  background-color: var(--dark-brown);
  color: var(--lightest);
  padding: 0.25rem 0.6rem;
  width: auto;
  position: relative;
  top: -1rem;
  text-align: center;
}

.menu-item-wrap input:checked + label > img {
  border: 0.3rem solid var(--dark-green);
}

.menu-item-wrap input:checked + label > p {
  background-color: var(--dark-green);
  color: var(--lightest);
}

/* MENU ITEM RADIO BUTTONS */
.burger-meat-options {
  display: flex;
  justify-content: space-between;
}

.burger-type-wrap {
  margin: 0.7rem 0 1.5rem 0;
}

.item-options-wrap,
.burger-type-wrap {
  display: flex;
  justify-content: space-evenly;
}

.drink-size-wrap {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}


/* BREAKFAST MENU ITEM RADIO BUTTONS */
.breakfast-menu-options {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.breakfast-item-name {
  border-radius: 0.3rem;
  background-color: var(--dark-brown);
  color: var(--lightest);
  padding: 0.25rem 1rem;
  width: auto;
  position: relative;
  top: -1rem;
  text-align: center;
}

.label-item-options {
  background-color: var(--yellow);
  padding: 0.2rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--dark-brown);
  font-size: 0.8rem;
}

.input-item-options:checked + .label-item-options {
  background-color: var(--dark-green);
  color: var(--lightest);
}

.input-item-options:disabled + .label-item-options {
  opacity: 0.5;
}

/* ORDERS SECTION */
.main-menu-orders {
  grid-area: orders;
  border-radius: 1.5rem 0 0 1.5rem;

  display: grid;
  grid-template-rows: max-content 1fr min-content;
}

.order-title-wrap {
  align-self: start;
}

.dividing-line {
  height: 1px;
  margin: 1rem 0;
  border: none;
}

.empty-order-msg {
  margin: 2rem 0;
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
}

/* ORDERED ITEM COMPONENT */
.order-list-items {
  padding: 1.5rem 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ordered-item-wrap {
  margin-bottom: 0.7rem;
  display: flex;
  justify-content: flex-end;
  color: var(--dark-brown);
  text-align: right;
}

.ordered-item-name {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.ordered-item-price {
  width: 2.4rem;
  margin-left: 1.8rem;
  font-family: 'B612', monospace;
  font-weight: bold;
  font-size: 0.8rem;
}

/* ITEM QUANTITY COMPONENT */
.item-quantity-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item-quantity-buttons-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-quantity-button {
  padding: 0.5rem;
  border-radius: 50%;
  line-height: 0.6rem;
  letter-spacing: 0;
  font-size: 1rem;
}

.item-quantity-number {
  margin: 0 1.2rem;
  font-family: 'B612', monospace;
  font-weight: bold;
  font-size: 1.2rem;
}

.item-total-value {
  width: 2.4rem;
  margin-left: 1.8rem;
  font-family: 'B612', monospace;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: right;
}


/* TOTAL AND SEND COMPONENT*/
.total-and-send-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.order-total-wrap {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1.5rem 0;
  color: var(--dark-green);
  font-weight: bold;
  font-family: 'B612', monospace;
  text-transform: uppercase;
}

.order-section-buttons-wrap {
  width: 9rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}


/* -------- KITCHEN -------- */
.main-container-kitchen {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.all-orders-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  width: 100%;
}

/* ORDER CARD */
.order-card-wrap {
	display: flex;
  flex-direction: column;
	justify-content: space-between;
  min-width: 17rem;
	margin-bottom: 3rem;
  border-radius: 1.2rem;
  -webkit-box-shadow: 0px 0px 8px -1px #00000066;
  -moz-box-shadow: 0px 0px 8px -1px #00000066;
  box-shadow: 0px 0px 8px -1px #00000066;
}

.order-status {
  margin-bottom: 1rem;
  padding: 0.7rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  border-radius: 1.2rem 1.2rem 0 0;
}

.order-card-info {
  padding: 0 1rem;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 1.3rem;
}

.order-card-products {
  padding: 0 1rem;
}

.order-card-buttons {
  margin: 1rem 0;
  text-align: center;
}

.order-items-wrap {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.order-items-quantity {
  margin-right: 0.5rem;
  font-family: 'B612', monospace;
  font-size: 0.85rem;
  font-weight: 600;
}

.order-done-msg {
  text-transform: uppercase;
}


/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 0.6rem 0;
}

.footer-text {
  text-align: center;
  font-size: 0.7rem;
}
