/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* GLOBAL STYLING */
html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

body {
  background-color: #F8EDDD;
  background-image: url(./images/textura.png);
  background-repeat: repeat;
  background-size: auto;
}


/* BASE STYLING */
.tag-link {
  display: inline-block;
  position: relative;
  top: 0;
  transition: ease 0.1s;
  text-decoration: none;
  font-weight: 500;
}

.button-base {
  display: inline-block;
  position: relative;
  top: 0;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: ease 0.1s;
}

.tag-link:hover,
.button-base:hover {
  top: -0.3rem;
}


/* LOGIN PAGE */
.logo-login {
  width: 16rem;
}

.form-container {
  background-color: #f6c13c20;
  border-radius: 1rem;
  padding: 0.5rem;
}

.label-input-wrap,
.radio-buttons-wrap {
  margin-bottom: 2rem;
}

.label-for-input{
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #829F19;
}

.input-text {
  width: 23rem;
  background-color: #F8EDDD;
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  border: solid 3px #829F19;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
}

.button-primary {
  background-color: #7F381A;
  color:#F6C13C;
}

.button-secondary {
  background-color: #F6C13C;
  color: #7F381A;
}


/* SIGNUP PAGE */

.signup-subtitle {
  color: #F8EDDD;
}

.radio-buttons-wrap {
  width: 23rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.input-radio {
  opacity: 0;
  position: fixed;
  width: 0;
}

.label-radio {
  background-color: #829F19;
  color: #F8EDDD;
}

.radio-buttons-wrap .input-radio:checked + .label-radio {
  background-color: #F6C13C;
  color: #A64922;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.7rem 0;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: #829F19;
}

.footer-text {
  color: #7F381A;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}

.footer-link {
  color: #F8EDDD;
}
